{% extends 'Entrevistas\Entrevistainicio.html' %}

{%block title%} Somos {% endblock %}

{% block content %}

<div class="container text-white">
    <div class="row-auto">
        <br>
        <h1>Saludos!!!</h1>
        <br>
    
        <P>
            <h5>Soy Andrés Maximiliano Holsbach, y este sitio es mi proyecto final para el curso de python en Coder House.</h5>
        </P>
        <p>
            El proyecto trata de un blog donde se pueden generar corresponsales.<br>
            Los mismos podran realizar distntas actividades dentro del sitio tales como: 
             <li>
                Crear corresponsal, y actualizarlo.
             </li>
             <li> 
                Redactar entrevistas, cargar imagenes, editarlas, y borrarlas.
             </li>
             <li>
                Leer comentarios sobre las entrevistas.
             </li>
             <li>
                Leer y comentar en entrevistas sin registrarse.
             </li>
        </p>
        <p>
            Los vistitantes del sitio que no deseen registrarse podran leer las entrevistas y realizar comentarios sobre las mismas.
        </p>

    </div>
</div>

{% endblock %}