{% extends 'Entrevistas\Entrevistainicio.html' %}
{%block title%} Listas {% endblock %}
{% block content %}
{% if user.is_authenticated %}
 <br>
  <div class="dropdown" >
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
      Corresponsal
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="{% url 'EntrevistaLogout' %}">Salir</a></li>
    <li><a class="dropdown-item" href="{% url 'EntrevistaCreate' %}">Iniciar entrevista</a></li>
    <li><a class="dropdown-item" href="{% url 'ComentarList' %}">Lista de comentarios</a></li>
    <li><a class="dropdown-item" href="{% url 'CorresponsalesProfile' user.id %}">mi perfil</a></li>
    </ul>
  </div>
{% else %}

  <div class="Listas">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
      Lector
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="{% url 'EntrevistaLogin' %}">Ingresar</a></li>
    <li><a class="dropdown-item" href="{% url 'ComentarList' %}">Lista de comentarios</a></li>
    </ul>
  </div>
{% endif %}

{% if object_list %}
    {% for Entrevista in object_list %}
      <div class="Listas" >
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
          {{Entrevista.Titulo}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{% url 'EntrevistaDetail' Entrevista.id %}">Detalles</a></li>  
        <li><a class="dropdown-item" href="{% url 'ComentarCreate' Entrevista.id %}">Comentar</a></li>  
        </ul>
      </div>
         {% if user.is_authenticated %}
          <div class="Listas" >
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
              Editar
            </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="{% url 'EntrevistaDelete' Entrevista.id %}">Borrar</a></li>  
              <li><a class="dropdown-item" href="{% url 'EntrevistaUpdate' Entrevista.id %}">Actualizar</a></li>  
              </ul>
          </div>
         {% endif %}
    {% endfor %}
{% else %}
  <h1> No hay entrevistas</h1>
{% endif %}
{% endblock %}

