{% load static %}
<!doctype html>
<html lang="es">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
      <title>{% block title %} INICIO {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Entrevistainicio' %}">Viajes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">+</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'EntrevistaLogin' %}">Iniciar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'EntrevistaSignUpView' %}">Registrarse</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Desplegar
              </a>
              <ul class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-white" href="{% url 'EntrevistaAbout' %}">Somos</a></li>
                <li><a class="dropdown-item text-white" href="{% url 'EntrevistaList' %}">Leer entrevistas</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    {% block content %}
    <h1 class="titulo">VIDEO EXPLICATIVO</h1>
    <div class="video">
        <iframe class="tutto" src="https://www.youtube.com/embed/UnaSn9nxEn4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>  

    {% endblock %}

    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
      <!-- Grid container -->
      <div class="container p-4"></div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Ir al Código:
        <a class="text-white" href="https://github.com/MaximilianoHolsbach/proyectofinalAndresholsbach.git">Github</a>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>

